* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #f5f5f5;
    overflow: hidden;
    font-size: 1.6rem;
    padding: 1rem;
}

button,
label {
    padding: .4rem .8rem;
    border-radius: .4rem;
    cursor: pointer;
    transition: .4s;
}

.main {
    max-width: 414px;
    width: 100%;
    margin: 10% auto 0;
    padding: 1rem;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .4rem;
}

.game input {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: .4rem;
    background-color: #444;
    text-align: center;
    font-size: 9rem;
    color: transparent;
    cursor: pointer;
    transition: .4s opacity;
}

.game input::placeholder {
    color: #777;
}

.game input:hover {
    opacity: .7;
}


.players {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.players div {
    width: 50%;
    border-radius: .4rem;
    padding: .8rem 1rem;
    font-weight: 900;
    color: #444;
    transition: .4s;
    font-size: 1.4rem;
}

.players div.active {
    background-color: #041e6c;
    color: #eee;
    transition: .4s;
}

.players div span {
    color: inherit;
    font-weight: bold;
    font-size: 1.8rem;
}

.buttons {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 1rem;
}

.buttons .config {
    display: flex;
    gap: .8rem;
}

.buttons .config input {
    display: none;
}

.buttons .config input:checked+label {
    background-color: #041e6c;
    color: #eee;
}

button.newGame {
    background-color: #393;
    color: #eee;
}

button.newGame:hover {
    background-color: #161;
}

.reset {
    display: none;
    background-color: #933;
    color: #fff;
}

.reset:hover {
    background-color: #611;
}



@media screen and (max-width : 414px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width : 375px) {
    html {
        font-size: 45%;
    }
}

.game input.animation {
    animation: winnerAnimation .2s infinite;
}

@keyframes winnerAnimation {
    0% {
        color: yellow;
    }

    30% {
        color: orange;
    }

    60% {
        color: orangered;
    }

    90% {
        color: red;
    }

    100% {
        color: white;
    }
}